.ShoppinApp {
  margin:5vh 20%;;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  height: 50vh;
  border: 2px solid;
}
.title{
  margin: 1rem;
}
.btnAddEdit {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  margin-right: 0.5rem;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  touch-action: manipulation;

}
.btnAddEdit:hover {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }

.btnAddEdit:focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.appInput{
  background: linear-gradient(21deg, #10abff, #1beabd);
  width: 50%;
  border-radius: 30px;
  padding: 10px;
  margin:1rem;

}
.clearBtn {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  touch-action: manipulation;
}

.clearBtn:hover {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}
.itemsComponent{
  

  background: rgb(34,143,195);
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  height:30vh;
  margin: 1rem auto 5rem auto;
  padding: 2rem;
  font-size: 18px;
  color: rgb(65, 57, 5);
  width: 60%;
  border: solid 5px #8c92ac;
  border-radius: 10px;
  overflow-y: scroll;
}
.itemComponent{
  display:flex;
  text-align: center;
  justify-content: space-between;
  margin: 1rem;
  border-bottom: 2px solid #10abff;
  
}
.editBtn{
  background: linear-gradient(to bottom right, #47ef79, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    margin-right: 0.5rem;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    touch-action: manipulation;
  
  }
  .editBtn:hover {
      background-color: initial;
      background-position: 0 0;
      color: #FF4742;
    }
  
  .editBtn:focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
.deleteBtn{
  background: linear-gradient(to bottom right, #c70000, #a36844);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    margin-right: 0.5rem;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    touch-action: manipulation;
  
  }
  .deleteBtn:hover {
      background-color: initial;
      background-position: 0 0;
      color: #FF4742;
    }
  
  .deleteBtn:focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #98869c #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #98869c;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  @media screen and ( max-width: 360px ) {

    
    .btnAddEdit {
      font-size: 12px;
      font-weight: 500;
    }

    .appInput{
      width: 50%;
      font-size: 12px;
      padding: 5px;
      margin:0.5rem;
    
    }
    .clearBtn {
     font-size: 11px;
      padding: 0 0.8rem;
    }
    .itemsComponent{
      padding: 2rem;
      font-size: 12px;
      width: 80%;
      
    }
    .itemComponent{
      margin: 0.1rem;
    }

    .editBtn{
        font-size: 11px;
        margin-right: 0.2rem;
        padding: 0 0.5rem;
      } 
    .deleteBtn{
       font-size: 10px;
        margin-right: 0.1rem;
        padding: 0 0.5rem;
      }
  }
  @media screen and ( max-width: 680px ) {

    
    .btnAddEdit {
      font-size: 14px;
    }

    .appInput{
      width: 50%;
      font-size: 14px;
      padding: 7px;
      margin:0.9rem;
    
    }
    .clearBtn {
     font-size: 14px;
      padding: 0 0.9rem;
    }
    .itemsComponent{
      padding: 2rem;
      font-size: 14px;
      width: 80%;
    }
    .itemComponent{
      margin: 0.2rem;
    }

    .editBtn{
        font-size: 14px;
        margin-right: 0.4rem;
        padding: 0 0.8rem;
      }
   
    .deleteBtn{
       font-size: 14px;
        margin-right: 0.4rem;
        padding: 0 0.8rem;
      }

  }
    
  